<section class = 'flex column alignItems {{{post.nickname}}}' id = 'template'>

    {{#if post.title}}
    <h1 class = 'flex justifyContent'>{{{post.title}}}</h1>
    {{/if}}

    <div class = 'flex user column alignItems'>
        <small>{{{
            editIcon 
            post.user 
            user 
            post._id 
            false}}}
        </small>
        <span>{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>         
        <div class = 'flex justifyContent'>
            <span>User: </span>
            <span class="card-title">
                {{post.user.displayName}}
            </span>
        </div>
        <a href="/post/user/{{post.user._id}}">
        More From {{post.user.firstName}}
        </a>

    </div>

    {{#if post.image}}
    <img src = {{post.image}}>
    {{/if}}

    {{#if post.text}}
    <blockquote>
        <p>{{{post.text}}}</p>
    </blockquote>
    {{/if}}
  
</section>






