<section class = 'flex column alignItems'>
    <h3>Welcome {{name}}</h3>
    <p>Here are your posts</p>

{{#if post}}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
{{#each post}}
            <tr>
                <td><a class = 'flex column alignItems justifyContent' href= '/post/{{_id}}'>{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class = 'dash-status'>{{status}}</span></td>

                <td class = 'flex'>
                    <a href="/post/edit/{{_id}}"><button id = 'edit'><i class="fa-solid fa-pen-to-square"></i></button></a>

                    <form action = '/post/{{_id}}' method='POST'>
                        <input type="hidden" name="_method" value="DELETE">
                        <button id= 'delete'><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
{{/each}}
        </tbody>
    </table>

{{else}}
    <p>You have not created any posts</p>
{{/if}}
</section>