<section class = 'add flex column alignItems' id = 'add'>
    <h2 class = 'heading'>Edit your Character in the website!</h2>    
    <form action="/characters/{{character._id}}" method="POST"  class = 'flex column alignItems'>
        <input type = "hidden" class="_method" value="PUT">
        <input type="hidden" name="_method" value="PUT">

            <div class = 'flex div'>
                <div class = 'alignItems column flex'>
                    <h2>Name: </h2><input required="required" value = '{{character.name}}' type = 'text' id = 'name' name = 'name'>
                </div>

                <div class = 'flex alignItems column'>
                    <h2>Status:</h2>
                    <select id="status" name="status" class = 'button'>
                        {{#select character.status}}
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                        {{/select}}
                    </select>
                </div>
            </div>
   
            <div class = 'flex div'>
     
                <div class = 'alignItems column flex'>
                    <h2>Nickname: </h2><input value = '{{character.nickname}}' required="required" type = 'text' id = 'nickname' name = 'nickname'>
                </div>
            </div>

         <div class ='flex div'>
            <div class = 'alignItems column flex'>
                <h2>Guild Name: </h2><input value = '{{character.guild}}' required="required" type = 'text' id = 'guild' name = 'guild'>
            </div>
        </div>

        <div class = 'flex div'>
            <div class = 'alignItems column flex'>
                h2>Union Burst Name: </h2><input value = '{{character.unionName}}' required="required" type = 'text' id = 'unionName' name = 'unionName'>
            </div>
        </div>

        <div class = 'textarea'>
            <h2 class = 'flex justifyContent'>Text: </h2><textarea required = 'required' id = 'body' name = 'text'>{{character.text}}{{character.text2}}</textarea>
        </div>

        <button  class = 'button' type = 'submit' id = 'submit'>Submit</button>

    </form>
</section>