<section class = 'flex column alignItems {{{character.nickname}}}' id = 'template'>

    <div class = 'flex row name'>
        <div class = 'left'>
            <h2> Name: {{{character.name}}}</h2>
<h2> Union Name: {{{character.unionName}}}</h2>

            {{#if character.text}}
            <blockquote>
                <p>{{{character.text}}}</p>
            </blockquote>
            {{/if}}
        </div>




        <div class = 'container-alt flex    '>

            <div class = 'right flex column alignItems user'>
                <small>{{{editIcon character.user user character._id false}}}</small>
                <span>{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>         
                <div class = 'flex justifyContent'><span>User: </span><span class="card-title">{{character.user.displayName}}</span></div>
                <a href="/characters/user/{{character.user._id}}">More From {{character.user.firstName}}</a>

                <h2>NickName: {{{character.name}}}</h2>
                <h2>Guild: {{{character.guild}}}</h2>
            </div>
        </div>
    </div>

  
    
    <div class = 'flex game alignItems'>
        <div class = 'flex alignItems column'>
               <img src = {{character.image}}>

        </div>
    </div>

</section>






